- video_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.basename+data.video_ext)
- subtitle_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.basename+data.subtitle_ext)
- thumbnail_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.basename+data.thumbnail_ext)
- nice_thumbnail_src = '/prod-data/videos/'+data.show_name+'/'+data.basename+data.thumbnail_ext
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Episode ' + data.episode)
    meta(property='og:description', content='Episode ' + data.episode)  
    meta(property='og:title', content=data.show_name)
    meta(property='og:url', content='')
    meta(property='og:image', content=nice_thumbnail_src)
    meta(property='og:type', content='video.episode')

    title= data.show_name
    script.
      window.HELP_IMPROVE_VIDEOJS = false;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://vjs.zencdn.net/7.8.4/video-js.css')
    link(rel='stylesheet', href='/css/libjass.css')
    style(type='text/css').
      .embed-responsive{
        max-height: 81vh !important;
        width: 50%;
        margin: 0 auto;
      }
      .embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
          border: !important
      }
      
      a{
        font-size:min(3vw,1em)
      }
      h2{
        font-size:min(5vw,3em)
      }
      h3{
        font-size:min(3.75vw,2.25em)
      }

  include header.pug
  body
    div(class="mx-3 mt-3")
      div(class="embed-responsive embed-responsive-16by9" align="center")
        video(align="center" id="my-video" 
        class="video-js embed-responsive-item vjs-default-skin vjs-big-play-centered vjs-fill" controls 
        preload="auto" poster=thumbnail_src)
          source(src=video_src, type='video/mp4')
          //- track(srclang="en" label="English" src=subtitle_src default)
    div(class="m-3")
      h2= data.show_name
      h3= "Episode "+data.episode
      a(href=video_src download) Download Link
      if prev!=-1
        br
        link(rel='prerender', href=prev)
        a(href= prev) Previous Episode
      if next!=-1
        br
        link(rel='prerender', href=prev)
        a(href= next) Next Episode
      p(id='stats') Dropped Frames: None

    script(src='/js/subtitles-octopus.js')
    script(src='https://vjs.zencdn.net/7.8.4/video.min.js')
    script(src='/js/landscape.js')
    script(src='/js/videojs_init.js' id='init_script' subtitle_src=subtitle_src)      
