- video_src = data.metadata.video_path
- subtitle_src = data.metadata.subtitle_path
- thumbnail_src = data.metadata.thumbnail_path
- nice_thumbnail_src = data.metadata.small_thumbnail_path || decodeURIComponent(data.metadata.thumbnail_path)
- playable = data.metadata.video_path.endsWith('.mp4')
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=data.episode)
    meta(property='og:description', content=data.episode)  
    meta(property='og:title', content=data.show_name)
    meta(property='og:url', content='')
    meta(property='og:image', content=nice_thumbnail_src)
    meta(property='og:type', content='video.episode')

    link(rel='stylesheet' href='/css/red.css')
    script(src='/js/red.js')
    script(src='/js/reddit.min.js')


    title= data.show_name
    script.
      window.HELP_IMPROVE_VIDEOJS = false;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/video-js.css')
    link(rel='stylesheet', href='/css/libjass.css')
    link(rel='stylesheet', href='/css/episode.css')
  include header.pug
  body
    div(class="mx-3 mt-3")
      div(class="embed-responsive embed-responsive-16by9" align="center")
        if playable
          video(align="center" id="my-video" 
          class="video-js embed-responsive-item vjs-default-skin vjs-big-play-centered vjs-fill"
          controls 
          playsinline
          preload="auto"
          poster=thumbnail_src)
            source(src=video_src, type='video/mp4')
        else
          a(href='potplayer://' + video_src)
            video(align="center" id="my-video" 
            class="video-js embed-responsive-item vjs-default-skin vjs-big-play-centered vjs-fill"
            poster=thumbnail_src)
      if !playable
          h2 Video format not supported, 
            a(href='potplayer://' + video_src) open in PotPlayer
    
    div(class="m-3")
      if playable
        ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" id="submenu")
        div(id="aggro")
      h2= data.show_name
      h3= data.episode
      if playable && !data.metadata.transcoded
        a(href='potplayer://' + video_src) Open in PotPlayer
        br
      a(href=video_src download) Download Link
      if prev!=-1
        br
        link(rel='prerender', href=prev)
        a(href= prev) Previous Episode
      if next!=-1
        br
        link(rel='prerender', href=prev)
        a(href= next) Next Episode

      div(class="reddit-embed center" style="max-width:1000px" id="embed-div")

    script(src='/js/subtitles/subtitles-octopus.js')
    script(src='/js/video.min.js')
    script(src='/js/landscape.js')
    script(src='/js/videojs_init.js' id='init_script' subtitle_src=subtitle_src video_src=video_src next_episode=next)      
    script(src='/js/reddit_load.js' id='reddit_load' official_name=official_name episode_number=data.episode)      
