html
  head
    title=data.show_name
  include header.pug
  style(type='text/css').
    .videosize {
      width: 100%    !important;
      height: auto   !important;
    }
    ::cue {
      size: 80;
      color: white;
      font-size: 1.5vw;
      font-weight: 300;
      /* background-color: rgba(0, 0, 0, 0.25); */
      text-shadow: 2px 2px 0px #FF0000;
    }
  body
    - video_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.file_name)
    - subtitle_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.file_name.substring(0,data.file_name.lastIndexOf('.')+1)+'vtt')
    video(controls='' class='videosize')
      source(src=video_src, type='video/mp4')
      track(label="English" kind="subtitles" srclang="en" src=subtitle_src default)
      |   Your browser does not support the video tag.  
    div(class="m-3")
      h2= data.show_name
        img(src='/media/icon-chan.png' class="header-icon" style="border-radius: 50%" width="30em")
      h3= "Episode "+data.episode
      a(href=video_src) Download Link
