
html
  head
    title=data.show_name
    link(rel='stylesheet', href='https://cdn.plyr.io/3.6.2/plyr.css')
  include header.pug

  
  //- style(type='text/css').
  //-   .videosize {
  //-     width: 100%    !important;
  //-     height: auto   !important;
  //-   }
  //-   ::cue {
  //-     size: 80;
  //-     color: white;
  //-     font-size: 0.65em;
  //-     font-weight: 300;
  //-     background-color: rgba(0, 0, 0, 0);
  //-     text-shadow:
  //-       -1px -1px 0 #000,
  //-        0   -1px 0 #000,
  //-        1px -1px 0 #000,
  //-        1px  0   0 #000,
  //-        1px  1px 0 #000,
  //-        0    1px 0 #000,
  //-       -1px  1px 0 #000,
  //-       -1px  0   0 #000;
  //-   }
  body
    - video_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.file_name)
    - subtitle_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.file_name.substring(0,data.file_name.lastIndexOf('.')+1)+'vtt')
    video(id="player" playsinline controls allowfullscreen  )
      source(src=video_src, type='video/mp4')
      track(label="English" kind="subtitles" srclang="en" src=subtitle_src default)
      |   Your browser does not support the video tag.  
    div(class="m-3")
      h2= data.show_name
        img(src='/media/icon-chan.png' class="header-icon" style="border-radius: 50%" width="30em")
      h3= "Episode "+data.episode
      a(href=video_src) Download Link
    script(src='https://cdn.plyr.io/3.6.2/plyr.js')
    script.
      const controls = [
      'play-large', // The large play button in the center
      'rewind', // Rewind by the seek time (default 10 seconds)
      'play', // Play/pause playback
      'fast-forward', // Fast forward by the seek time (default 10 seconds)
      'progress', // The progress bar and scrubber for playback and buffering
      'current-time', // The current time of playback
      'duration', // The full duration of the media
      'volume', // Volume control
      'captions', // Toggle captions
      'pip', // Picture-in-picture (currently Safari only)
      'airplay', // Airplay (currently Safari only)
      'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
      'fullscreen' // Toggle fullscreen
      ];
      const player = new Plyr('#player', {controls});
