html
  head
    title=data.show_name
  //- include header.pug
  body
    - video_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.file_name)
    video(src=video_src onclick="this.play();")
    div(class="m-3")
      h2= data.show_name
        img(src='/media/icon-chan.png' class="header-icon" style="border-radius: 50%" width="30em")
      h3= "Episode "+data.episode
      a(href=video_src) Download Link
