- video_src = data.metadata.video_path
- subtitle_src = data.metadata.subtitle_path
- thumbnail_src = data.metadata.thumbnail_path
- nice_thumbnail_src = data.metadata.small_thumbnail_path || decodeURIComponent(data.metadata.thumbnail_path)
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Episode ' + data.episode)
    meta(property='og:description', content='Episode ' + data.episode)  
    meta(property='og:title', content=data.show_name)
    meta(property='og:url', content='')
    meta(property='og:image', content=nice_thumbnail_src)
    meta(property='og:type', content='video.episode')

    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/reddit-embed@1.0.6/css/red.css')
    script(src='https://cdn.jsdelivr.net/npm/he@1.2.0/he.js')
    script(src='https://cdn.jsdelivr.net/npm/reddit-embed@1.0.6/red.js')
    script(src='https://cdn.jsdelivr.net/npm/reddit.js@0.1.4/reddit.min.js')


    title= data.show_name
    script.
      window.HELP_IMPROVE_VIDEOJS = false;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://vjs.zencdn.net/7.8.4/video-js.css')
    link(rel='stylesheet', href='/css/libjass.css')
    link(rel='stylesheet', href='/css/episode.css')
  include header.pug
  body
    div(class="mx-3 mt-3")
      div(class="embed-responsive embed-responsive-16by9" align="center")
        video(align="center" id="my-video" 
        class="video-js embed-responsive-item vjs-default-skin vjs-big-play-centered vjs-fill"
        controls 
        playsinline
        preload="auto"
        poster=thumbnail_src)
          source(src=video_src, type='video/mp4')
          //- track(srclang="en" label="English" src=subtitle_src default)
    div(class="m-3")
      div(id="aggro")
      h2= data.show_name
      h3= "Episode "+data.episode
      a(href=video_src download) Download Link
      if prev!=-1
        br
        link(rel='prerender', href=prev)
        a(href= prev) Previous Episode
      if next!=-1
        br
        link(rel='prerender', href=prev)
        a(href= next) Next Episode
      p(id='stats') Dropped Frames: None
      div(class="reddit-embed center" style="max-width:1000px" id="embed-div")

    script(src='/js/subtitles-octopus.js')
    script(src='https://vjs.zencdn.net/7.8.4/video.min.js')
    script(src='/js/landscape.js')
    script(src='/js/videojs_init.js' id='init_script' subtitle_src=subtitle_src video_src=video_src)      
    script(src='/js/reddit_load.js' id='reddit_load' official_name=official_name episode_number=data.episode)      
