html
  head
    title=data.show_name
  include header.pug
  style(type='text/css').
    .videosize {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
      object-fit: cover;
    }
  body
    - video_src = '/prod-data/videos/'+encodeURIComponent(data.show_name)+'/'+encodeURIComponent(data.file_name)
    video(controls='' class='videosize')
      source(src=video_src, type='video/mp4')
      |   Your browser does not support the video tag.  
    div(class="m-3")
      h2= data.show_name
        img(src='/media/icon-chan.png' class="header-icon" style="border-radius: 50%" width="30em")
      h3= "Episode "+data.episode
      a(href=video_src) Download Link
